<div class="booyah-box col-6 offset-1" style="margin-top:30px">
  <h1>Enter Your Place Details</h1>
  <br />
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <br />
    <%= f.input :address %>
    <br />
    <%= f.input :description %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>